<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <connectionStrings>
    <add name="ewolf2012_RalfEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test.sql.id.jwde.local;initial catalog=ewolf2012_Ralf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HelloWorld.Properties.Settings.ewolf2012_RalfConnectionString"
      connectionString="Data Source=test.sql.id.jwde.local;Initial Catalog=ewolf2012_Ralf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>