<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSql.Properties.Settings.ewolf2012_RalfConnectionString" connectionString="Data Source=test.sql.id.jwde.local;Initial Catalog=ewolf2012_Ralf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
